body {
    background: url(../images/congruent_pentagon.png);
}


#gameHeader {
    position: relative;
    width: 380px;
    height: 125px;
    background-color: orange;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    line-height:125px;
    margin: 10px 0 10px 10px;
}

#instBox{
    background-color: bisque;
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 0 10px 10px;
    width: 475px;
    margin-bottom:25px;
}

#bluecrystal{
    float: left;
    margin-right: 75px;
    height: 125px;
}
    
#greencrystal{
    float: left;
    margin-right: 75px;
    height: 125px;
}
    
#redcrystal{
    float: left;
    margin-right: 75px;
    height: 125px;
}
    
#yellowcrystal{
    float: left;
    height: 125px;
}

#statusBoxes{
    margin-left: 10px;
}

#scrBoxHead{
    text-align: center;
    color: black;
    font-size: 30px;
}
#scoreBox {
    width:250px;
    height: 175px;
    color: black;
    font-size: 50px;;
    text-align: center;
    line-height: 175px;
    background-color: aqua;
    float: left;
    margin-bottom: 25px;
    margin-right: 25px;
    }

#winLossBox{
    background-color: lightcyan;
    height: 175px;
    width: 250px;
    float: left;
    clear:right;
    margin-bottom:25px;

}
#scoreHeading{
    background-color: greenyellow;
    color: white;
    font-weight: bolder;
    height: 50px;
    width: 175px; 
    margin-top: 175px;     
}

#crystalButtons{
    margin: 25px 0 25px 10px;
    clear: both;
    }

#ttlScore{
    background-color: greenyellow;
    height: 250px;
    width: 350px;
    margin-top:25px;
    font-weight: bolder;
    line-height: 250px;
    font-size: 75px;
    text-align: center;
}

#scoreDiv{
    margin-left: 10px;
}

#gameWins{
    color: orange;   
}

#gameLosses{
    color: red;
}

@media screen and (max-width: 760px) {
    #ttlScore{
        line-height: initial;
    }
}
